#div{
    background-color: aquamarine;
    text-align: center;
}

#submit{
    background-color: red;
    text-align: center;
    color: white;
}

/* #Survey-form{
    text-align: center;
} */